.contact {
  position: relative;
  width: 200px;
  border-radius: 10px;
  border: 1px solid var(--borders);
  background-color: transparent;
  color: var(--text);
  box-shadow: var(--borders) 0px 20px 30px -10px;
  transition: 0.2s ease-out;
  transition-property: background-color, color, scale;
  &:hover {
    position: relative;
    background-color: var(--headers);
    color: var(--base);
    scale: 1.02;
  }
}

.contact img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 8px;
}

.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 15px;
  text-align: center;
}

.contactBox button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.contactInfo > p:first-child {
  font-weight: 800;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.delete {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 0;
}

.contactBox img {
  border-radius: 50%;
}
