.contact {
  position: relative;
  width: 400px;
  border-radius: 10px;
  border: 1px solid var(--borders);
  background-color: transparent;
  color: var(--text);
  box-shadow: var(--borders) 0px 20px 30px -10px;
  transition: 0.2s ease-out;
  transition-property: background-color, color, scale;
  &:hover {
    position: relative;
    background-color: var(--headers);
    color: var(--base);
    scale: 1.02;
  }
}

.contactBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;
  text-align: center;
}

.avatar {
  font-size: 56px;
}

.contactInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.contactInfo > p:first-child {
  font-weight: 800;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 4px;
  text-align: center;
}

.controls button {
  width: fit-content;
  padding: 8px;
  color: var(--text);
  font: inherit;
  border: none;
  border-radius: 8px;
  background-color: var(--base);
  &:hover {
    background-color: var(--base);
    box-shadow: var(--text) 0px 10px 10px -10px;
  }
}

.controls .delete {
  color: var(--headers);
}

.contactBox img {
  border-radius: 50%;
}
